
h1 {

    font-size: 200px;
    padding: 0;
    margin: -35px 0px 35px;
    text-align: center;
    font-family: 'Honk', system-ui;

}

li {

    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    margin: 0 100px 0 800px;
    padding: 0px;
}

li:hover {

        font-size: 90px;
    
}

a.link_list {

    text-decoration: none;
    color: black;

}

p.copywrite {  

    font-size: 10px;
    color: gray;
    text-align: center;
    padding: 0px;
    margin: 450px 0 -450px;
    

}

@media only screen and (max-width: 400px){

    h1 {

        width: 385x;
        font-size: 75px;
        padding: 0;
        margin: -10px 0px 10px;
        text-align: center;
        font-family: 'Honk', system-ui;
        
    
    }
    
    li {
    
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        margin: 0 20px 0 100px;
        padding: 0px;
    }
    
    li:hover {
    
            font-size: 40px;
        
    }
    
    a.link_list {
    
        text-decoration: none;
        color: black;
    
    }
    
    p.copywrite {  
    
        font-size: 10px;
        color: gray;
        text-align: center;
        padding: 0px;
        margin: 600px 0 -600px;
        
    
    }    

};